
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">
          Personal project created by @avatsaev<br>
          <br>
          Frontend is built with <a target="_blank" href="https://angular.io">Angular 2.0</a>, running on AWS Elastic BeanStalk with an Elastic Load Balancer for autoscaling
          <br><br>
          Backend is built with <a target="_blank" href="http://rubyonrails.org">Rails 5.0</a> in API mode, using ActionCable for websockets, running on AWS EC2 Container Service (scaled on 2 Web Docker containers and 1 Worker container for background jobs)
          <br><br>
          Continuous Integration and automatic deployments are managed by Jenkins
        </p>


      </div>
      <!--<div class="col l3 s12">-->
        <!--<h5 class="white-text">Settings</h5>-->
        <!--<ul>-->
          <!--<li><a class="white-text" href="#!">Link 1</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 2</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="col l3 s12">-->
        <!--<h5 class="white-text">Connect</h5>-->
        <!--<ul>-->
          <!--<li><a class="white-text" href="#!">Link 1</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 2</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span color="#7F7F85">Copyright 2016</span>
      <!--Made by <a class="" href="https://twitter.com/avatsaev"> @avastaev</a>-->
    </div>
  </div>
</footer>