<div class="card blue-grey lighten-5">

  <div class="card-content">

    <a class="card-title center grey-text text-darken-4  " [routerLink]="['/argument', bet.id]" >
      {{bet.title}}

    </a>

    <span *ngIf="streaming" class="new objblink right red small badge" data-badge-caption="">LIVE</span>


  </div>

  <div class="card-action">

    <span class="embed-bet--answer center">

      <span class="answer">
        {{bet.answer_a}} ({{bet.answer_a_count}} votes)
      </span>
      <button (click)="vote('a')" class="btn-floating btn-large waves-effect red darken-1">
         {{bet.percentage('a')}}%
       </button>
    </span>

    <hr>

    <span class="embed-bet--answer center">

         <button  (click)="vote('b')" class="btn-floating btn-large waves-effect blue darken-1">
           {{bet.percentage('b')}}%
         </button>

        <span class="answer">
          {{bet.answer_b}} ({{bet.answer_b_count}} votes)
        </span>



      </span>

  </div>


</div>