
<div  *ngIf="bet" class="container">
  <div class="card blue-grey lighten-5">

    <div class="card-content">

      <h2 class="activator center "  >
        {{bet.title}}
      </h2>




    </div>

    <div class="card-action">

      <span class="embed-bet--answer center">

        <span class="answer">
          {{bet.answer_a}}
        </span>
        <button (click)="vote('a')" class="btn-floating btn-large waves-effect  red darken-1">
           {{bet.percentage('a')}}%
         </button>
      </span>

      <hr>

      <span class="embed-bet--answer center">





         <button  (click)="vote('b')" class="btn-floating btn-large waves-effect blue darken-1">
           {{bet.percentage('b')}}%
         </button>

        <span class="answer">
          {{bet.answer_b}}
        </span>



      </span>

    </div>


  </div>
</div>

