

<div class="progress" *ngIf="!bet">
  <div class="indeterminate"></div>
</div>

<div  *ngIf="bet" class="container">
  <div class="card blue-grey lighten-5">

    <div class="card-content">
      <span *ngIf="live_stream_connected" class="new objblink right red small badge" data-badge-caption="">LIVE</span>


      <h2 class="activator center "  >
        {{bet.title}}
      </h2>





    </div>

    <div class="card-action">

      <span class="embed-bet--answer center">

        <span class="answer">
          {{bet.answer_a}} ({{bet.answer_a_count}} votes)
        </span>
        <button (click)="vote('a')" class="btn-floating btn-large waves-effect  red darken-1">
           {{bet.percentage('a')}}%
         </button>
      </span>

      <hr>

      <span class="embed-bet--answer center">





         <button  (click)="vote('b')" class="btn-floating btn-large waves-effect blue darken-1">
           {{bet.percentage('b')}}%
         </button>

        <span class="answer">
          {{bet.answer_b}} ({{bet.answer_b_count}} votes)
        </span>



      </span>

    </div>


  </div>
</div>

