
<div class="section" id="index-banner">
  <div class="container center">

    <h1 class="">RBets</h1>

    <h5 class=""> Create an argument, people vote, popular opinion wins.</h5>
    <br>

    <button pageScroll [pageScrollDuration]="350" [pageScrollOffset]="100" href="#create-form" class="waves-effect btn-large red darken-2"><i class="material-icons left">add</i>Create</button>
    <!---->
    <br>
    <br>
  </div>
</div>


<div class="section ribbon white-ribbon">

  <div class="container row">

    <h2>
      Trending arguments
    </h2>


    <button class="waves-effect btn red darken-2 " [routerLink]="['/arguments']" >
      More...
    </button>



    <!--<a href="sdfdsf"> See more...</a>-->
    <div class="row">
      <br>

      <div class="progress" *ngIf="trending_bets.length == 0">
        <div class="indeterminate"></div>
      </div>

      <div class="col s12 l6 m6"  *ngFor="let bet of trending_bets" >
        <app-embed-bet [bet]="bet"></app-embed-bet>
      </div>

    </div>



  </div>

</div>

<div class="section ribbon light-ribbon">
  <h2 class="center" id="create-form">
    Create a new argument
  </h2>
  <form class="container s6">
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="new_bet.title" id="title"  type="text" name="title">
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="new_bet.answer_a"  name="answer_a" type="text" class="validate ">
        <label for="answer_a">Answer A:</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="new_bet.answer_b"  name="answer_b" type="text" class="validate">
        <label for="answer_b">Answer B:</label>
      </div>
    </div>

    <input type="hidden" value="anonymous" name="username"/>

    <div class="center">

      <button  (click)="create_bet()" class="btn waves-effect  btn-large red darken-2" type="submit" name="action">Let's go
        <i class="material-icons right">send</i>
      </button>

    </div>
  </form>

</div>
